# the team needs to have at least write permissions for this repo to be added as reviewers in a PR
# https://github.community/t/codeowners-works-with-users-but-not-teams/733/2
* @Maersk-Global/digital-platform
