version: 2.1

orbs:
  rok8s-scripts: fairwinds/rok8s-scripts@11

references:
  e2e_configuration: &e2e_configuration
    pre_script: e2e/pre.sh
    script: e2e/run.sh
    command_runner_image: quay.io/reactiveops/ci-images:v11-stretch
    enable_docker_layer_caching: true
    store-test-results: /tmp/test-results
    kind_version: 0.9.0
    requires:
      - build-container
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /v.*/
jobs:
  test:
    working_directory: /go/src/github.com/fairwindsops/goldilocks
    docker:
      - image: circleci/golang:1.15
        environment:
          GL_DEBUG: linters_output
          GOPACKAGESPRINTGOLISTERRORS: "1"
          GO111MODULE: "on"
    steps:
      - checkout
      - run:
          name: golangci-lint
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.23.6
            golangci-lint run -v
      - run:
          name: Run Tests
          command: make test
      - run:
          name: codecov
          command: bash <(curl -s https://codecov.io/bash)

  publish_docs:
    docker:
      - image: cimg/node:15.5.1
    steps:
      - checkout
      - run:
          name: Build Docs Site
          command: |
            cd ./docs
            npm install
            npm run build
      - run:
          name: Install AWS CLI
          command: |
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
      - run:
          name: Publish Docs Site to S3
          command: |
            cd ./dist
            aws s3 sync ./ s3://goldilocks.docs.fairwinds.com --delete
workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            branches:
              only: /.*/
            tags:
              only: /v.*/
      - rok8s-scripts/docker_build_and_push:
          name: build-container
          docker-push: false
          enable_docker_layer_caching: true
          config_file: deploy/build.config
          docker-login: false
          password-variable: "foo"
          requires:
            - test
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
      - rok8s-scripts/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.16.15"
          kind_node_image: "kindest/node:v1.16.15@sha256:a89c771f7de234e6547d43695c7ab047809ffc71a0c3b65aa54eda051c45ed20"
          <<: *e2e_configuration
      - rok8s-scripts/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.17.11"
          kind_node_image: "kindest/node:v1.17.11@sha256:5240a7a2c34bf241afb54ac05669f8a46661912eab05705d660971eeb12f6555"
          <<: *e2e_configuration
      - rok8s-scripts/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.18.8"
          kind_node_image: "kindest/node:v1.18.8@sha256:f4bcc97a0ad6e7abaf3f643d890add7efe6ee4ab90baeb374b4f41a4c95567eb"
          <<: *e2e_configuration
      - rok8s-scripts/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.19.1"
          kind_node_image: "kindest/node:v1.19.1@sha256:98cf5288864662e37115e362b23e4369c8c4a408f99cbc06e58ac30ddc721600"
          <<: *e2e_configuration
      - rok8s-scripts/docker_build_and_push:
          name: build-and-push-container
          docker-push: true
          enable_docker_layer_caching: true
          config_file: deploy/build.config
          context: org-global
          docker-login: true
          password-variable: "fairwinds_quay_token"
          registry: quay.io
          username: fairwinds+circleci
          requires:
            - test
          filters:
            branches:
              only: /master/
            tags:
              only: /v.*/
      - rok8s-scripts/github_release:
          requires:
            - test
            - build-and-push-container
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - publish_docs:
          filters:
            branches:
              only: sudermanjr/docs
            tags:
              only: /.*/
