version: 2

references:
  install_goreleaser: &install_goreleaser
    run:
      name: Install GoReleaser
      command: |
        curl -fsSLo goreleaser.deb https://github.com/goreleaser/goreleaser/releases/download/v0.106.0/goreleaser_amd64.deb
        echo "c63e8dad590700f2f51e5508ec75c9f18d09ce570cbc05ebea4fb60cfad2bcc3  goreleaser.deb" | sha256sum -c
        sudo dpkg -i goreleaser.deb

jobs:
  test:
    docker:
      - image: circleci/golang:1.12-stretch
        environment:
          GO111MODULE: "on"
    steps:
      - checkout
      - run: make test
  release:
    working_directory: /go/src/github.com/reactiveops/vpa-analysis
    docker:
      - image: circleci/golang:1.12
        environment:
          GO111MODULE: "on"
    steps:
      - checkout
      - run: go mod download && go mod verify
      - *install_goreleaser
      - run:
          name: Set VERSION
          command: echo 'export VERSION=$CIRCLE_TAG' >> BASH_ENV
      - run: goreleaser

workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
