version: 2.1

orbs:
  rok8s: fairwinds/rok8s-scripts@12
  oss-docs: fairwinds/oss-docs@0

references:
  install_vault: &install_vault
    run:
      name: install hashicorp vault
      command: |
        apk --update add curl yq
        cd /tmp
        curl -LO https://releases.hashicorp.com/vault/1.13.2/vault_1.13.2_linux_amd64.zip
        sha256sum vault_1.13.2_linux_amd64.zip | grep f7930279de8381de7c532164b4a4408895d9606c0d24e2e9d2f9acb5dfe99b3c
        unzip vault_1.13.2_linux_amd64.zip
        mv vault /usr/bin/vault
  e2e_configuration: &e2e_configuration
    pre_script: e2e/pre.sh
    script: e2e/run.sh
    command_runner_image: quay.io/reactiveops/ci-images:v12-buster
    enable_docker_layer_caching: true
    store-test-results: /tmp/test-results
    attach-workspace: true
    requires:
      - test
      - snapshot
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /v.*/

jobs:
  test:
    working_directory: /home/circleci/go/src/github.com/fairwindsops/goldilocks
    docker:
      - image: cimg/go:1.22
        environment:
          GL_DEBUG: linters_output
          GOPACKAGESPRINTGOLISTERRORS: "1"
    steps:
      - checkout
      - run:
          name: golangci-lint
          environment:
            GOLANGCI_LINT_VERSION: 1.61.0
            GOLANGCI_LINT_CHECKSUM: 818fb5dc7c3854245e44faabc04e86184096f00826f73446f090716750a2b739
          command: |
            curl -OL https://github.com/golangci/golangci-lint/releases/download/v${GOLANGCI_LINT_VERSION}/golangci-lint-${GOLANGCI_LINT_VERSION}-darwin-amd64.tar.gz
            [[ "$(sha256sum golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64.tar.gz)" == "${GOLANGCI_LINT_CHECKSUM}  golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64.tar.gz" ]]
            tar xzf golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64.tar.gz && mv golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64/golangci-lint $(go env GOPATH)/bin/golangci-lint
            go mod tidy
            golangci-lint run -v --timeout 2m0s
      - run:
          name: Run Tests
          command: make test

  build_and_release:
    working_directory: /go/src/github.com/fairwindsops/goldilocks
    resource_class: large
    shell: /bin/bash
    docker:
      - image: goreleaser/goreleaser:v2.3.2
    steps:
      - checkout
      - setup_remote_docker
      - *install_vault
      - rok8s/get_vault_env:
          vault_path: repo/global/env
      - run:
          name: docker login
          command: |
            docker login -u _json_key -p "$(echo $GCP_ARTIFACTREADWRITE_JSON_KEY | base64 -d)" us-docker.pkg.dev
      - run: echo 'export GORELEASER_CURRENT_TAG="${CIRCLE_TAG}"' >> $BASH_ENV
      - run: goreleaser
  snapshot:
    working_directory: /go/src/github.com/fairwindsops/goldilocks
    resource_class: large
    docker:
      - image: goreleaser/goreleaser:v2.3.2
    steps:
      - checkout
      - setup_remote_docker
      - run: goreleaser --snapshot --skip=sign
      - run: mkdir -p /tmp/workspace/docker_save/
      - run: docker save us-docker.pkg.dev/fairwinds-ops/oss/goldilocks:${CIRCLE_SHA1}-amd64 > /tmp/workspace/docker_save/goldilocks_${CIRCLE_SHA1}-amd64.tar
      - persist_to_workspace:
          root: /tmp/workspace/
          paths:
          - docker_save
      - store_artifacts:
          path: dist
          destination: snapshot

workflows:
  version: 2
  tests:
    jobs:
      - test
      - snapshot:
          context: org-global
          requires:
            - test
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.24"
          kind_node_image: "kindest/node:v1.24.7@sha256:577c630ce8e509131eab1aea12c022190978dd2f745aac5eb1fe65c0807eb315"
          <<: *e2e_configuration
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.25"
          kind_node_image: "kindest/node:v1.25.3@sha256:f52781bc0d7a19fb6c405c2af83abfeb311f130707a0e219175677e366cc45d1"
          <<: *e2e_configuration
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.26"
          kind_node_image: "kindest/node:v1.26.6@sha256:6e2d8b28a5b601defe327b98bd1c2d1930b49e5d8c512e1895099e4504007adb"
          <<: *e2e_configuration
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.27"
          kind_node_image: "kindest/node:v1.27.3@sha256:3966ac761ae0136263ffdb6cfd4db23ef8a83cba8a463690e98317add2c9ba72"
          <<: *e2e_configuration
  release:
    jobs:
      - build_and_release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - oss-docs/publish-docs:
          repository: goldilocks
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^.*/
