version: 2.1

orbs:
  rok8s-scripts: fairwinds/rok8s-scripts@10

references:
  install_goreleaser: &install_goreleaser
    run:
      name: Install GoReleaser
      command: |
        curl -fsSLo goreleaser.deb https://github.com/goreleaser/goreleaser/releases/download/v0.106.0/goreleaser_amd64.deb
        echo "c63e8dad590700f2f51e5508ec75c9f18d09ce570cbc05ebea4fb60cfad2bcc3  goreleaser.deb" | sha256sum -c
        sudo dpkg -i goreleaser.deb

jobs:
  test:
    docker:
      - image: circleci/golang:1.12-stretch
        environment:
          GO111MODULE: "on"
    steps:
      - checkout
      - run: go get -u golang.org/x/lint/golint
      - run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.17.1
      - run: golangci-lint run
      - run: make test
      - run: bash <(curl -s https://codecov.io/bash)

  release:
    working_directory: /go/src/github.com/fairwindsops/goldilocks
    docker:
      - image: circleci/golang:1.12
        environment:
          GO111MODULE: "on"
    steps:
      - checkout
      - run: go mod download && go mod verify
      - *install_goreleaser
      - run: goreleaser

workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            branches:
              only: /.*/
            tags:
              only: /v.*/
      - rok8s-scripts/docker_build_and_push:
          config_file: deploy/build.config
          context: org-global
          docker-login: true
          password-variable: fairwinds_quay_token
          registry: quay.io
          username: fairwinds+circleci
          requires:
            - test
          filters:
            branches:
              only: /.*/
            tags:
              only: /v.*/
      - rok8s-scripts/kubernetes_e2e_tests:
          kind_version: 0.6.1
          name: "End-To-End Kubernetes 1.14.9"
          kind_node_image: "kindest/node:v1.14.9@sha256:bdd3731588fa3ce8f66c7c22f25351362428964b6bca13048659f68b9e665b72"
          pre_script: e2e/pre.sh
          script: e2e/test.sh
          requires:
            - test
            - rok8s-scripts/docker_build_and_push
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /v.*/
      - rok8s-scripts/kubernetes_e2e_tests:
          kind_version: 0.6.1
          name: "End-To-End Kubernetes 1.5.6"
          kind_node_image: "kindest/node:v1.15.6@sha256:18c4ab6b61c991c249d29df778e651f443ac4bcd4e6bdd37e0c83c0d33eaae78"
          pre_script: e2e/pre.sh
          script: e2e/test.sh
          requires:
            - test
            - rok8s-scripts/docker_build_and_push
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /v.*/
      - rok8s-scripts/kubernetes_e2e_tests:
          kind_version: 0.6.1
          name: "End-To-End Kubernetes 1.16.3"
          kind_node_image: "kindest/node:v1.16.3@sha256:70ce6ce09bee5c34ab14aec2b84d6edb260473a60638b1b095470a3a0f95ebec"
          pre_script: e2e/pre.sh
          script: e2e/test.sh
          requires:
            - test
            - rok8s-scripts/docker_build_and_push
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /v.*/
      - release:
          requires:
            - test
            - rok8s-scripts/docker_build_and_push
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
