.card.cluster {
  margin-top: 15px;
  padding: 40px;
  position: relative;
}

.card.cluster input {
    margin: 8px 0px 0px 0px;
    color: #6e6e6e;
}

.card h3 {
  margin: 0;
  font-weight: 300;
  font-size: 28px;
  padding: 20px 20px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: -2px; /* Fix for kerning issue */
  display: inline;
}

.card h2 {
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  padding: 12px 12px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: -2px; /* Fix for kerning issue */
  display: inline;
}

.card.cluster h3 {
  padding: 4px 0px;
  margin-bottom: 20px;
}

.card.namespace h3 strong {
  font-weight: bold;
}

.card.namespace h2 strong {
  font-weight: bold;
}

.button {
    display: block;
    font-weight: 300;
    padding: 6px 12px;
    background-color: #c8c8c8;
    color: black;
    text-decoration: none;
}

.button:active {
    background-color: #f78e1e; /* Fairwinds' Orange */
}

.card .button {
    float: right;
}

.divider hr {
    display: block;
    height: 1px;
    margin: 0px 25px;
    background-color: #cccccc;
    border-style: solid;
    border-color: #cccccc;
}

.search div {
    text-align: center;
}

.search input {
    width: -webkit-fill-available;
    padding: 8px 12px;
    margin: 8px 0px 0px 0px;
    color: #6e6e6e;
}

.cluster-overview {
  top: -60px;
}

.cluster-overview .graph {
  display: inline-block;
  width: 35%;
  margin-left: -10px;
  margin-right: 10px;
}

.cluster-overview .cluster-score,
.cluster-overview .result-messages {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.cluster-overview .cluster-score{
  padding-top: 15px;
}
.cluster-overview .result-messages {
  padding-top: 70px;
}

.cluster-overview .graph canvas {
  margin-left: auto;
  margin-right: auto;
}

.cluster-overview .score-description {
  font-size: 11px;
  line-height: 1.3em;
}

.cluster-overview .cluster-score .weather {
    font-size: 80px;
    color: #444;
    margin: 10px 0 5px;
}

.cluster-overview .cluster-score .sailing {
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
  color: #555;
  margin-bottom: 11px;
}

.cluster-overview .cluster-score .scores {
  font-size: 16px;
  margin-top: 15px;
}

.cluster-overview .cluster-score .scores span {
  width: 70px;
  display: inline-block;
  color: #555;
  font-weight: 200;
}

.cluster-overview .cluster-score .scores strong {
  font-size: 24px;
}

.cluster .expandable-table table.container-results {
  margin: 10px 26px;
}

.cluster-overview .result-messages ul {
  font-size: 20px;
  line-height: 35px;
}

.cluster-overview-footer {
  position: absolute;
  bottom: 0px;
  right: 10px;
  left: 40px;
}

.cluster-overview-footer p {
  display: inline-block;
  font-size: 11px;
  color: #777;
  width: 48%;
}

.cluster-overview-footer p.kubernetes-overview {
  text-align: right;
}

.cluster-overview-footer p.kubernetes-overview .kubernetes-stat {
  margin-left: 15px;
}

.kubernetes-overview ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  text-align: right;
}

.kubernetes-overview li {
  display: inline-block;
  margin: 20px 0 0 10px;
}

.kubernetes-overview li span {
  margin-right: 3px;
}

.category .name {
  font-weight: bold;
}

.category .category-score {
  font-size: 13px;
  margin-left: 5px;
  font-weight: 200;
}

.category .category-score strong {
  font-weight: bold;
}

.category .category-info {
  font-size: 14px;
  line-height: 21px;
  margin-left: 25px;
}

.category .category-info a {
  font-weight: bold;
  color: #23103a;
  text-decoration: none;
}

.category .category-info a:hover {
  text-decoration: underline;
}

.category .status {
  width: 200px;
  animation: fadeIn 2s;
}

.expandable-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.expandable-table .resource-info {
  padding: 15px 20px;
  margin: 0;
  font-size: 18px;
  border-top: 1px solid #eee;
}

.expandable-table .resource-info .name {
  cursor: pointer;
}

.expandable-table .resource-info .caret-expander {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url('../images/caret-right.svg');
  background-size: 13px auto;
  background-repeat: no-repeat;
  background-position: 2px center;
}

.expandable-table .resource-info.expanded .caret-expander {
  background-image: url('../images/caret-bottom.svg');
  background-position: center 2px;
}

.expandable-table .resource-info .expandable-content {
  display: none;
}

.expandable-table .resource-info .expandable-content::after {
  content: "";
  grid-column: 1 / -1;
  grid-row: 1;
  border-bottom: 1px solid #eee;
  display: none;
  border-color: teal;
  z-index: -1;
}

.expandable-table .resource-info.expanded .expandable-content {
  display: grid;
}

.namespace .resource-info .result-messages {
  color: #6a6a6a;
}

.namespace .result-messages h4 {
  border-bottom: 1px solid #eee;
  grid-area: container;
  margin: 0;
  align-self: end;
}

.cluster-overview table.container-results {
  margin: 0px;
}

.result-messages .code-container {
  flex: 0 1 45%;
  margin-left: 1em;
}


.result-messages i.message-icon.success {
  color: #8BD2DC;
}

.result-messages i.message-icon.warning {
  color: #f26c21;
}

.result-messages i.message-icon.error {
  color: #a11f4c;
}

.result-messages i.message-icon.unknown {
  color: gray;
}

.controller-type {
  display: inline-block;
  min-width: 115px;
}

a.more-info {
  color: #bbb;
  font-size: 12px;
  text-decoration: none;
}

a.more-info:hover {
  color: #555;
}

.card .status-bar {
  padding-top: 7px;
  float: right;
}

.card .status-bar .status {
  float: right;
  animation: fadeIn 2s;
}

.card .status {
  width: 200px;
}

.status div {
  height: 12px;
  border-radius: 5px;
}

.status .passing {
  background-color: #8BD2DC;
  float: left;
}

.status .warning {
  background-color: #f26c21;
  float: left;
}

.status .failing {
  background-color: #a11f4c;
  width: 100%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.expandable-table {
  --caret-expander-width: 15px;
  --caret-expander-margin-right: 10px;
}

.expandable-table .resource-info .caret-expander {
  width: var(--caret-expander-width);
  margin-right: var(--caret-expander-margin-right);
}

.expandable-table .resource-info .expandable-content {
  margin: 1em calc(2 * (var(--caret-expander-width) + var(--caret-expander-margin-right)));
  grid-template-areas: "container radio1 radio2" ". radio1 radio2" "tab tab tab";
  grid-template-columns: 1fr auto auto;
  grid-gap: 0 0.5em;
  grid-template-rows: 1fr 1fr auto;
  transition: 0.8s;
  overflow: hidden;
}

table.container-results {
  list-style-type: none;
  font-size: 13px;
  line-height: 20px;
  padding: 0;
  color: #6a6a6a;
  flex: 0 2 auto;
}

table.container-results li {
  margin-bottom: 5px;
}

table.container-results li i.message-icon {
  display: inline-block;
  margin-right: 7px;
  text-align: center;
  width: 20px;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  bottom: -3px;
}

table.container-results td {
  padding: 0 1em;
}

table.container-results td:nth-child(3) {
  text-align: center;
}

table.container-results td:nth-child(2)
, table.container-results th:nth-child(2) {
  text-align: right;
}

table.container-results th {
  padding: 0 1em;
}

.resource-info pre {
  background: #eee;
  border-radius: 5px;
  font-size: 13px;
  grid-area: code;
  line-height: normal;
  margin: 0;
  padding: 5px;
}

.result-messages .code-title {
  margin: 0;
  grid-area: code-title;
}

pre[class*="language-"].fix-yaml {
  padding: 5px;
}

pre.fix-yaml code[class*="language-"]
, pre[class*="language-"].fix-yaml {
  font-size: 12px;
  line-height: normal;
}


/* tab-container */
.tab-container {
  display: grid;
  grid-template-areas: ". radio1 radio2 ." "tab tab tab tab";
  grid-template-columns: 1fr auto auto 1fr;
  grid-gap: 0 1em;
  overflow: hidden;
  transition: 0.8s;
}

.result-messages label {
  display: block;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid rgba(106, 106, 106, 0.5);
  padding: 0.25em;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  color: rgba(106, 106, 106, 0.5);
  transition: all ease 0.2s;
  font-size: 13px;
  align-self: center;
  justify-self: center;
}

.result-messages label[for^="tabone"] {
  grid-area: radio1;
}

.result-messages label[for^="tabtwo"] {
  grid-area: radio2;
}

.result-messages .tab-content {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  grid-area: tab;
  transform: translateY(200%);
  transition: inherit;
}

.result-messages input[type="radio"] {
  display: none;
}

.result-messages input[type="radio"]:checked + label {
  background: #eee;
  color: inherit;
}

.result-messages input[type="radio"]:not(:checked) + label {
  z-index: 100;
}

.result-messages input[type="radio"]:checked + label + .tab-content {
  transform: translateY(0);
  transition: inherit;
}

@media (max-width: 45em) {
  .result-messages .tab-content,
  .result-messages label {
    order: initial;
  }

  .result-messages label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/* Accessibility */
.sr-only {
  display: none
}
