/*
-----
GLOBAL STYLES
-----
*/

:root {
    --color-accent-1: #23103a;
    --color-accent-2: #ff6c00;
    --color-border: #8bd2dc;

    /* light elements */
    --color-background: #ffffff;
    --color-background-2: #f4f6f9;
    --color-text: #373a36;
    --color-text-2: var(--color-accent-1);

    /* dark elements */
    --color-alt-text: var(--color-background);

    --gap--1: var(--step--1);
    --gap-0: var(--step-0);
    --gap-1: var(--step-1);
    --gap-2: var(--step-2);
    --gap-3: var(--step-3);
    --gap-4: var(--step-4);
    --gap-5: var(--step-5);
}

html {
    background: var(--color-background);
    color: var(--color-text);
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: var(--step-0);
}

/*
-----
ELEMENT STYLES
-----
*/

a,
a:link,
a:visited {
    color: var(--color-text-2);
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

h1 { font-size: var(--step-4); }
h2 { font-size: var(--step-2); }
h3 { font-size: var(--step-1); }
h4 { font-size: var(--step-0); }
h5 { font-size: var(--step-0); }
h6 { font-size: var(--step-0); }

hr {
    border: none;
    border-top: 1px solid var(--color-text);
    margin: var(--gap-0) 0;
}

img.logo {
    max-height: var(--step-5);
    object-fit: contain;
}

img.logo--secondary {
    max-height: var(--step-3);
}

/*
-----
COMPONENTS
-----
*/

.button--primary {
    border: 1px solid var(--color-border);
    border-radius: 999em;
    display: block;
    padding: var(--gap--1);
    transition: all 500ms ease;
}

.button--primary:focus,
.button--primary:hover,
.button--primary:active {
    background: var(--color-accent-1);
    box-shadow: 0 1.25rem 3.4375rem 0 rgba(139,210,220,.3);
    color: var(--color-alt-text);
    text-decoration: none;
    transform: scale(1.1);
}

.buttonIcon {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 30ch;
    word-wrap: anywhere;
}

.buttonIcon i {
    margin-left: var(--gap--1);
}

.globalNav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.globalNav ul li + li {
    margin-top: var(--gap-0);
}

.logoSupport {
    font-size: var(--step--1);
    text-align: center;
}

.namespaceList {
    display: grid;
    grid-template-areas:
        "sidebar    main"
        "sidebar    footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

.namespaceList__footer {
    font-size: var(--step--1);
    grid-area: footer;
    text-align: center;
}

.namespaceList__heading {
    text-align: center;
}

ul.namespaceList__list {
    display: grid;
    grid-gap: var(--gap--1);
    grid-template-columns: repeat(auto-fit, 30ch);
    justify-content: space-evenly;
}

.namespaceList__main {
    grid-area: main;
    padding: var(--gap-0);
}

.namespaceList__main > * + * {
    margin-top: var(--gap-2);
}

.namespaceList__sidebar {
    align-self: start;
    background: var(--color-background-2);
    grid-area: sidebar;
    min-height: 100vh;
    padding: 0 var(--gap-0);
    position: sticky;
    top: 0;
}

/*
-----
UTILITIES
-----
*/

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/*
-----
OVERRIDES
-----
*/

.overrideFontSize--step-1 {
    font-size: var(--step-1);
}
