/*
-----
GLOBAL STYLES
-----
*/

:root {
    --color-accent-1: #23103a;
    --color-accent-2: #ff6c00;
    --color-accent-3: #a0204c;
    --color-border: #8bd2dc;

    --color-positive: var(--color-border);
    --color-negative: var(--color-accent-3);
    --color-warning: var(--color-accent-2);

    /* light elements */
    --color-background: #ffffff;
    --color-background-2: #f4f6f9;
    --color-text: #373a36;
    --color-text-2: var(--color-accent-1);

    /* dark elements */
    --color-alt-text: var(--color-background);

    --gap--1: var(--step--1);
    --gap-0: var(--step-0);
    --gap-1: var(--step-1);
    --gap-2: var(--step-2);
    --gap-3: var(--step-3);
    --gap-4: var(--step-4);
    --gap-5: var(--step-5);
}

html {
    background: var(--color-background);
    color: var(--color-text);
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: var(--step-0);
}

/*
-----
ELEMENT STYLES
-----
*/

a,
a:link,
a:visited {
    color: var(--color-text-2);
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    text-decoration: underline;
}

details > summary > h2,
details > summary > h3,
details > summary > h4,
details > summary > h5,
details > summary > h6 {
    display: inline-block;
}

dl {
    display: grid;
    grid-gap: var(--gap--1);
    grid-template-columns: repeat(auto-fill, 30ch);
    justify-content: center;
}

dl dt {
    font-size: var(--step-1);
}

footer {
    font-size: var(--step--1);
    text-align: center;
}

form[role="search"] {
    display: grid;
    grid-template-columns: 1fr auto;
}

form[role="search"] button[type="submit"] {
    background: none;
    border: none;
}

form[role="search"] input[type="search"] {
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-accent-1);
    color: var(--color-text);
}

form[role="search"] label {
    grid-column: 1 / -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

h1 {
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-2);
}

h3 {
    font-size: var(--step-1);
}

h4 {
    font-size: var(--step-0);
}

h5 {
    font-size: var(--step-0);
    font-weight: normal;
    margin: var(--gap-1) 0 var(--gap--1) 0;
    text-align: center;
}

h6 {
    font-size: var(--step--1);
    font-style: italic;
    font-weight: normal;
    margin: var(--gap-1) 0 var(--gap--1) 0;
    text-align: center;
}


hr {
    border: none;
    border-top: 1px solid var(--color-text);
    margin: var(--gap-0) 0;
}

img.logo {
    max-height: var(--step-5);
    object-fit: contain;
}

img.logo--secondary {
    max-height: var(--step-3);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.--lineup ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

nav.--stack ul {
    align-items: center;
    display: flex;
    flex-direction: column;
}

nav.--lineup ul li {
    margin: var(--gap--1);
}

nav.--stack ul li + li {
    margin-top: var(--gap-0);
}

pre {
    border: 1px solid var(--color-border);
    border-radius: var(--gap--1);
}

/*
-----
COMPONENTS
-----
*/

.badge--primary {
    background: var(--color-accent-2);
    color: var(--color-alt-text);
    font-size: var(--step--1);
    font-weight: normal;
    padding: 0 var(--gap--1);
    text-align: center;
    text-transform: uppercase;
}

.button,
.button--1 {
    border: 1px solid var(--color-border);
    border-radius: 999em;
    display: block;
    padding: var(--gap--1);
    transition: all 250ms ease;
}

.button:focus,
.button:hover,
.button:active,
.button--1:focus,
.button--1:hover,
.button--1:active {
    background: var(--color-accent-1);
    box-shadow: 0 1.25rem 3.4375rem 0 rgba(139,210,220,.3); /* TODO: clean up */
    color: var(--color-alt-text);
    text-decoration: none;
    transform: scale(1.1);
}

.button--2 {
    border-color: var(--color-accent-3);
}

.button--2:focus,
.button--2:hover,
.button--2:active {
    background: var(--color-accent-3);
    border-color: var(--color-accent-1);
}

.buttonIcon {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 30ch; /* TODO: extract to variable? */
    overflow-wrap: break-word;
}

.buttonIcon i {
    margin-left: var(--gap--1);
}

.callout,
.callout--1 {
    background: var(--color-background-2);
    border: 1px solid var(--color-border);
    border-radius: var(--gap--1);
    padding: var(--gap--1);
}

.callout--2 {
    background: none;
    border-color: var(--color-accent-3);
}

.columns {
    display: grid;
    grid-gap: var(--gap-2);
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
}

.compTable {
    border-spacing: 1ch;
}

.compTable td,
.compTable th {
    padding: 0;
}

.compTable td:first-of-type,
.compTable th[scope="col"]:first-of-type {
    text-align: right;
}

.compTable th[scope="row"] {
    text-align: right;
}

.compTable .compTable__compIcon.error { color: var(--color-negative); }
.compTable .compTable__compIcon.success { color: var(--color-positive); }
.compTable .compTable__compIcon.warning { color: var(--color-warning); }

.dashboard {
    display: grid;
    grid-gap: var(--gap-5) var(--gap--1);
    grid-template-columns: 1fr 2fr;
    padding: var(--gap--1);
}

.dashboard details.dashboard__aside > summary {
    font-size: var(--step-1);
}

.dashboard .dashboard__content {
    grid-column: 1 / -1;
}

.flow > * + * {
    margin-top: var(--gap-0);
}

.layoutSidebar {
    display: grid;
    grid-template-areas:
        "sidebar    main"
        "sidebar    footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

.layoutSidebar__footer {
    grid-area: footer;
}

.layoutSidebar__main {
    grid-area: main;
    padding: var(--gap-0);
}

/* TODO: should this be specific to the namespaces list page? */
.layoutSidebar__main > :not(.visually-hidden) + * {
    margin-top: var(--gap-2);
}

.layoutSidebar__sidebar {
    align-self: start;
    background: var(--color-background-2);
    grid-area: sidebar;
    min-height: 100vh;
    padding: var(--gap-0);
    position: sticky;
    top: 0;
}

.layoutSidebar__sidebar > * + * {
    margin-top: var(--gap-5);
}

@media (max-width: 700px) {
    .layoutSidebar {
        grid-template-areas: "sidebar" "main" "footer";
        grid-template-columns: 1fr;
    }

    .layoutSidebar__sidebar {
        min-height: auto;
        position: initial;
    }
}

.logoSupport {
    font-size: var(--step--1);
    text-align: center;
}

.namespaceDetail .namespaceDetail__container {
    margin-left: var(--gap-2);
}

.namespaceList__heading {
    text-align: center;
}

.namespaceList__list {
    display: grid;
    grid-gap: var(--gap--1);
    grid-template-columns: repeat(auto-fit, 30ch);
    justify-content: space-evenly;
    margin: 0;
}

.stack {
    display: flex;
    flex-direction: column;
}

.stack--center {
    align-items: center;
}

.stack--center > details > summary {
    text-align: center;
    width: 100%;
}

.stack__item--fullWidth {
    align-self: stretch;
}

.stack__item--halfWidth {
    width: 50%;
}

/*
-----
UTILITIES
-----
*/

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/*
-----
OVERRIDES
-----
*/

.overrideFontSize--step-1 {
    font-size: var(--step-1);
}
