/*
-----
GLOBAL STYLES
-----
*/

:root {
    /* colors */
    --color-accent-1: hsl(25, 100%, 50%);
    --color-accent-1-lighter: hsl(25, 100%, 97%);
    --color-accent-2: hsl(339, 67%, 38%);
    --color-accent-2-lighter: hsl(339, 67%, 97%);
    --color-accent-3: hsl(187, 54%, 70%);
    --color-accent-3-lighter: hsl(187, 54%, 97%);
    --color-accent-3-darker: hsl(187, 100%, 28%); 
    
    --color-dark-1: hsl(105, 4%, 22%);
    --color-dark-2: hsl(267, 57%, 15%);

    --color-light-1: hsl(0, 0%, 100%);
    --color-light-2: hsl(216, 29%, 97%);

    /* color uses */
    --color-text-1: var(--color-dark-1);
    --color-text-2: var(--color-dark-2);

    --color-text-inverse-1: var(--color-light-1);

    --color-bg-1: var(--color-light-1);
    --color-bg-2: var(--color-light-2);

    --color-positive: var(--color-accent-3);
    --color-negative: var(--color-accent-2);
    --color-warning: var(--color-accent-1);

    /* gaps/spacing */
    --gap--2: 5px;
    --gap--1: var(--step--1);
    --gap-0: var(--step-0);
    --gap-1: var(--step-1);
    --gap-2: var(--step-2);
    --gap-3: var(--step-3);
    --gap-4: var(--step-4);
    --gap-5: var(--step-5);
}

html {
    background: var(--color-bg-1);
    color: var(--color-text-1);
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: var(--step-0);
}

/*
-----
ELEMENTS
-----
*/

a,
a:link,
a:visited {
    color: var(--color-text-2);
    text-decoration: none;
    transition: all 250ms;
}

a:focus,
a:hover,
a:active {
    text-decoration: underline;
}

details > summary > h2,
details > summary > h3,
details > summary > h4,
details > summary > h5,
details > summary > h6 {
    display: inline-block;
}

footer {
    font-size: var(--step--1);
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

h1 {
    color: var(--color-text-2);
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0);
}

img.logo {
    margin-right: auto;
    margin-left: auto;
    max-height: var(--step-5);
    object-fit: contain;
}

img.logo--secondary {
    max-height: var(--step-3);
}

main {
    padding: var(--gap-5) var(--gap-0);
}

nav > ul {
    padding: 0;
}

nav > ul[role="list"] {
    /* 
    role="list" is required in the html for accessibility 
    when removing list styles,
    see https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
    */
    list-style: none;
}

nav > ul li + li {
    margin-top: var(--gap-1);
}

ul.navList li {
    border-top: 1px solid var(--color-accent-3);
    margin-right: var(--gap-0);
    margin-left: var(--gap-0);
    padding-top: var(--gap-0);
}

/*
-----
COMPONENTS
-----
*/

.badge {
    display: block;
    font-size: var(--step--1);
    font-weight: normal;
    margin-bottom: var(--gap--2);
    max-width: max-content;
    padding: var(--gap--2);
    text-transform: uppercase;
}

.badge.badge.badge--1 {
    background: var(--color-accent-2);
    color: var(--color-bg-1);
}

.badge.badge--2 {
    background: var(--color-accent-1);
    color: var(--color-bg-1);
}

.badge.badge--3 {
    background: var(--color-accent-3);
}

.callout {
    background: var(--color-bg-2);
    border: 1px solid var(--color-accent-3);
    border-radius: var(--gap-0);
    padding: var(--gap-0);
}

.detailBadge {
    margin-left: calc(-1 * var(--gap-local, var(--gap-0)));
}

.detailContainer {
    background: var(--color-accent-3-lighter);
    border-left: 2px solid var(--color-accent-3);
    padding-left: var(--gap-local);
}

.detailDeployment {
    background: var(--color-accent-1-lighter);
    border-left: 2px solid var(--color-accent-1);
    padding-left: var(--gap-local);
}

.detailNamespace {
    --gap-local: var(--gap-0);

    background: var(--color-accent-2-lighter);
    border-left: 2px solid var(--color-accent-2);
    padding-left: var(--gap-local);
}

.layoutSidebar {
    display: flex;
    flex-wrap: wrap;
}

.layoutSidebar .layoutSidebar__main {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 999;
    min-width: 75%;
}

.layoutSidebar .layoutSidebar__main > :not(footer) {
    flex-grow: 999;
}

.layoutSidebar .layoutSidebar__sidebar {
    background: var(--color-bg-2);
    flex-grow: 1;
    padding: 0 var(--gap-0);
}

.layoutSidebar .layoutSidebar__sidebar > * + * {
    /* border-top: 1px solid var(--color-accent-3); */
    margin-top: var(--gap-3);
}

.linkIcon {
    align-items: center;
    display: grid;
    grid-gap: var(--gap-0);
    grid-template-columns: auto 1fr;
}

.logoSupport {
    text-align: center;
    white-space: nowrap;
}

/*
-----
UTILITIES
-----
*/

.indent {
    margin-left: var(--gap-1);
}

.verticalRhythm > *:not(.visually-hidden) + * {
    margin-top: max(var(--gap-0), 1em);
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}
