<!DOCTYPE html>
<html lang="en-US">
  <head>
    {{ template "head" . }}

    <script>
      window.summaryData = {{ .JSON }};
    </script>
  </head>

  <body>
    <header>
      {{ template "navbar" . }}
    </header>

    <main>
      {{ template "preamble" . }}

      {{ range $nsName, $nsSummary := .Data.Namespaces }}
        {{ template "namespace" $nsSummary }}
      {{end}}
    </main>

    <footer>
      {{ template "footer" . }}
    </footer>
  </body>
</html>
