{{define "footer"}}
  <a 
    href="https://fairwinds.com?source=goldilocks" 
    rel="noreferrer noopener" 
    target="_blank"
  >
    &copy; 2019 FairwindsOps Inc. <i
      class="visually-hidden"
    >(Opens in new window)</i>
  </a>
{{end}}
