<!DOCTYPE html>
<html lang="en-US">
<head>
  {{ template "head" . }}
</head>

<body class="layoutSidebar">
  <header class="layoutSidebar__sidebar">
    {{ template "navigation" . }}
  </header>

  <div class="layoutSidebar__main">
    <main class="verticalRhythm">
      <h1>Namespaces</h1>

      {{ if lt (len .Data) 1 }}
      <article>
        <p>No namespaces are labelled for use by Goldilocks. Try labelling one with <code class="language-shell">kubectl label ns NAMESPACE_NAME goldilocks.fairwinds.com/enabled=true</code></p>
      </article>

      {{ else }}
      {{ if gt (len .Data) 1 }}
      {{ template "filter" . }}

      <p class="summary">{{len .Data}} total namespaces found</p>
      {{ end }}

      <ul aria-live="off" class="namespaceList" id="js-filter-container" role="list">
        {{ range .Data }}
        <li data-filter="{{ .Name }}">
          <a class="buttonLink --withIcon" href="{{ $.BasePath }}dashboard/{{ .Name }}">
            {{ .Name }}
            <i aria-hidden="true" class="fas fa-fw fa-chevron-right"></i>
          </a>
        </li>
        {{ end }}
      </ul>
      {{end}}
    </main>

    <footer>
      {{ template "footer" . }}
    </footer>
  </div>
</body>
</html>
