<!DOCTYPE html>
<html lang="en-US">
<head>
  {{ template "head" . }}

  <script>
    window.data = {{ .JSON }};
  </script>
</head>

<body class="layoutSidebar">
  <header class="layoutSidebar__sidebar">
    {{ template "navbar" "--stack" }}

    {{ if gt (len .Data) 0 }}
    <section class="flow stack stack--center">
      <p class="badge badge--1">{{len .Data}} namespaces found</p>

      {{ if gt (len .Data) 1 }}
      {{ template "filter" . }}
      {{ end }}

      <p><a href="/dashboard">
        <i aria-hidden="true" class="fas fa-stream"></i>
        View All
      </a></p>

    </section>
    {{ end }}
  </header>

  <div class="layoutSidebar__main">
    <main>
      <h1 class="namespaceList__heading">Namespaces</h1>

      {{ if lt (len .Data) 1 }}
      <article>
        No namespaces are labelled for use by Goldilocks. Try labelling one with <code>kubectl label ns NAMESPACE_NAME goldilocks.fairwinds.com/enabled=true</code>
      </article>

      {{ else }}
      <ul aria-live="off" class="namespaceList__list" id="js-filter-container">
        {{ range .Data }}
        <li data-filter="{{ .Name }}">
          <a class="button button--1 buttonIcon" href="/dashboard/{{ .Name }}">
            {{ .Name }}
            <i aria-hidden="true" class="fas fa-chevron-right"></i>
          </a>
        </li>
        {{ end }}
      </ul>

      {{end}}
    </main>

    <footer>
      {{ template "footer" . }}
    </footer>
  </div>
</body>
</html>
