<!doctype html>
<html>

<head>
  <script>
    window.data = {{ .JSON }};
  </script>

  {{ template "head" . }}
  
  <script type="text/javascript" src="static/js/namespace_list.js"></script>
</head>

<body class="namespaceList">
  <header class="namespaceList__sidebar">
    {{ template "navbar" . }}

    {{ if gt (len .Data) 0 }}
    <p>{{len .Data}} namespaces found</p>
    <p><a href="/dashboard">View All</a></p>
    {{ end }}

    {{ if gt (len .Data) 10 }}
    <form role="search">
      <label class="visually-hidden" for="namespace-search">Search namespaces</label>

      <input id="namespace-search" name="q" placeholder="Search namespaces..." type="search"/>

      <button type="submit">Search</button>
    </form>
    {{ end }}
  </header>

  <main class="namespaceList__main">
    <h1>Namespaces</h1>

    {{ if lt (len .Data) 1 }}
    <article>
      No namespaces are labelled for use by Goldilocks. Try labelling one with <code>kubectl label ns NAMESPACE_NAME goldilocks.fairwinds.com/enabled=true</code>
    </article>

    {{ else }}
    <ul>
      {{ range .Data }}
      <li>
        <a href="/dashboard/{{ .Name }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>

    {{end}}
  </main>

  <footer class="namespaceList__footer">
    {{ template "footer" . }}
  </footer>
</body>
</html>
