{{define "navbar"}}
  <nav class="--stack">
    <ul>
      <li>
        <a href="/">
          <img alt="Goldilocks" class="logo" src="static/images/goldilocks.svg" />
        </a>
      </li>

      <li>
        <div class="logoSupport">An Open Source Project By</div>
        <a href="https://fairwinds.com?source=goldilocks" target="_blank">
          <img alt="Fairwinds" class="logo logo--secondary" src="static/images/fw-logo.png" />
        </a>
      </li>
    </ul>
  </nav>
{{end}}
