{{define "navbar"}}
  <nav>
    <ul>
      <li>
        <a href="/">
          <img alt="Goldilocks" src="static/images/goldilocks.svg" />
        </a>
      </li>

      <li>
        <a href="https://fairwinds.com?source=goldilocks" target="_blank">
          <span>An Open Source Project By</span>
          <img alt="Fairwinds" src="static/images/fw-logo.png" />
        </a>
      </li>
    </ul>
  </nav>
{{end}}
