{{define "navbar"}}
  <div class="navbar">
    <div class="navbar-content">
      <a href="/">
        <img class="logo" src="static/images/goldilocks.png" alt="Goldilocks" />
      </a>
      <div class="navbar-right">
        <a href="https://fairwinds.com?source=goldilocks" target="_blank">
          <span class="oss-text">An Open Source Project By</span>
          <img class="fw-logo" src="static/images/fw-logo.png" alt="Fairwinds" />
        </a>
      </div>
    </div>
  </div>
{{end}}
